
.chadText{
    text-align: center;
    background-color: #0065B3;
    padding: 20px 0px;
    background-image: url("https://spacegrant.arizona.edu/sites/spacegrant.arizona.edu/files/about/logos/nib_print750x627ppi.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.bottomListItems {
    background-color: #0065B3;
    padding: 10px;
}

.logo {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 60px;
}

.head-p {
    color: #EB1D21;
    font-weight: 600;
    font-size: 30px;
}
ul {
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li {
    /* color: #FFFFFF; */
    font-weight: 600;
}
a {
    color: white;
}
.picture {
  height: 80vh;
  width: 100%;
  background-image: url('https://images.template.net/wp-content/uploads/2015/08/Flawless-Free-Space-Background-Download.png');
  background-size: cover;
}

/* .chad {
    background-color: #0065B3;
    height: 624px;;
}
.chadText{
    text-align: center;
}
span {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 60px;
}
p {
    color: #EB1D21;
    font-weight: 600;
    font-size: 30px;
}
ul {
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li {
    color: #FFFFFF;
    font-weight: 600;
}
 img {
    width: 1423px;
    height: 400px;
}  */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

.top {
	padding-top: 50px;
	display: flex;
	justify-content: space-around;
	line-height: 1.6em;
	margin-bottom: 100px;
}

.top h1 {
	flex-basis: 20%;
}

.top p {
	flex-basis: 30%;
	position: relative;
	color: gray;
	left: -50px;
}

.top button {
	flex-basis: 10%;
	height: 40px;
	border: none;
	border-radius: 20px;
	background-color: #ec1c24;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-style: Helvetica, Arial, sans-serif;
}

.s-row {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s-img {
	height: 290px;
	width: 368px;
}

.profile-text {
	background-color: #f2f2f2;
	padding: 10px;
	font-style: Helvetica, Arial, sans-serif;
}

.profile-text h3 {
	text-transform: uppercase;
	font-size: 12px;
	margin: 5px;
}

.profile-text p {
	color: gray;
	font-size: 12px;
	margin: 5px;
}

.prof-1-img {
	background-image: url("img/s-crater.jpg");
	background-size: cover;
	background-position: center;
}

.profile-2 {
	margin: 0px 10px;
}

.prof-2-img {
	background-image: url("img/s-jupiter.jpg");
	background-position: center;
	background-size: cover;
}

.prof-3-img {
	background-image: url("img/s-space-walk.jpg");
	background-position: center;
	background-size: cover;
}

.prof-4-img {
	background-image: url("img/s-mars.jpg");
	background-position: center;
	background-size: cover;
}

.profile-5 {
	margin: 0px 10px;
}

.prof-5-img {
	background-image: url("img/s-shuttle.jpg");
	background-position: center;
	background-size: cover;
}

.prof-6-img {
	background-image: url("img/s-moon.jpg");
	background-position: center;
	background-size: cover;
}

.matt {
	width: 100%;
	background: #f9fafc;
	color: gray;
	display: flex;
	justify-content: center;
	padding-top: 10%;
	padding-bottom: 10%;
	line-height: 1.5;
}

.matt h3 {
	color: #46464e;
}

.quote {
	width: 33%;
	padding-left: 10%;
	padding-right: 5%;
	text-align: right;
}

.article {
	width: 33%;
}

.wheelin {
	width: 33%;
}
>
