body{
	background: #333333;
	display: flex;
	justify-content: center;

}

.container{
	width: 96%;
	box-shadow: 0 7px 12px 0 black, 0 9px 40px 0 black;

}

*	{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

.top {
	padding-top: 50px;
	display: flex;
	justify-content: space-around;
	line-height: 1.6em;
	margin-bottom: 100px;
}

.top h1 {
	flex-basis: 20%;
}

.top p {
	flex-basis: 30%;
	position: relative;
	color: gray;
	left: -50px;
}

.top button {
	flex-basis: 10%;
	height: 40px;
	border: none;
	border-radius: 20px;
	background-color: #ec1c24;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-style: Helvetica, Arial, sans-serif;
}

.s-row {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s-img {
	height: 290px;
	width: 368px;
}

.profile-text {
	background-color: #f2f2f2;
	padding: 10px;
	font-style: Helvetica, Arial, sans-serif;
}

.profile-text h3 {
	text-transform: uppercase;
	font-size: 12px;
	margin: 5px;
}

.profile-text p {
	color: gray;
	font-size: 12px;
	margin: 5px;
}

.prof-1-img {
	background-image: url("img/s-crater.jpg");
	background-size: cover;
	background-position: center;
}

.profile-2 {
	margin: 0px 10px;
}

.prof-2-img {
	background-image: url("img/s-jupiter.jpg");
	background-position: center;
	background-size: cover;
}

.prof-3-img {
	background-image: url("img/s-space-walk.jpg");
	background-position: center;
	background-size: cover;
}

.prof-4-img {
	background-image: url("img/s-mars.jpg");
	background-position: center;
	background-size: cover;
}

.profile-5 {
	margin: 0px 10px;
}

.prof-5-img {
	background-image: url("img/s-shuttle.jpg");
	background-position: center;
	background-size: cover;
}

.prof-6-img {
	background-image: url("img/s-moon.jpg");
	background-position: center;
	background-size: cover;
}

.matt {
	width: 100%;
	background: #f9fafc;
	color: #aaabb2;
	padding-top: 10%;
	padding-bottom: 10%;
	line-height: 1.75;
	font-family: "Roboto", sans-serif;
	font-size: 1.25rem;
	display: block;
}

header {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.empty1 {
	width: 28%;
	height: 5%;
	border-style: hidden;
}

.empty2 {
	width: 5%;
	height: 5%;
	border: 2px solid #aaabb2;
}

.empty3 {
	height: 5%;
	width: 67%;
	border-style: hidden;
}

.matt_wrapper {
	display: flex;
	flex-direction: row;


}


.matt h2{
	color: #46464e;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 800;


}

.matt h3 {
	color: #46464e;
	font-family: 'Roboto',sans-serif;
	font-weight: 800;
	font-size: 26px;
}

.quote {
	width: 35%;
	padding-left: 10%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: right;
}


.article {
	width: 30%;
	padding: 2%;
	text-align: justify;
}

.wheelin {
	width: 35%;
	padding-right: 7%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

img {
	height: 98%;
	width: 98%;

}
